

<div class="appendAnswer">
  <form id="answerAppend">
    <fieldset>
      <legend>Enter Answer HERE</legend>
      <input type="text" name="survey[answer]" id="answerInput" placeholder="Answer">
      <input type="submit" name="submit" value="Append Answer!">
    </fieldset>
  </form>
</div>
