{{#each surveys}}
  <div class="imageImage">
        <button class="btn btn-warning" id="{{_id}}"> GO TO:  {{title}} </button>
  </div>
  <div class="deleteThis">
        <button  class="btn btn-danger deleteThis" id="{{_id}}">Delete<br>{{title}}</button>
  </div>
{{/each}}
