{{#each surveys}}
<div class="containerc">

  <div class="imageImageTwo">
         <button class="btn btn-warning" id="{{_id}}"> GO TO:  {{title}} </button>
  </div>


  {{!-- <script>
  jQuery(function ($) {
      $('#delSurvey').on('submit', function (event) {
      event.preventDefault();
      });
  });
</script> --}}
{{/each}}
