
{{#each surveys}}
  <div class="imageImage">

      <button class="btn btn-warning" id="abc"> <h4>{{title}}</h4></button>

    <script>
    jQuery(function ($) {
        $('#abc').on('click', function () {
          location.hash = `{{title}}`.replace(' ','')
        // location.hash = Math.random().toString();
        });
    });
    </script>
  </div>
{{/each}}
