{{#each surveys}}
  <div class="imageImage">
    <span class="svy-btn" data-id="{{_id}}">
      <h2>Title: {{title}}<br />
      Question: {{question}}</h2>
      <span id="surveyId" hidden="true">{{_id}}</span>
    </span>
</div>
<hr>
{{/each}}
