$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$blueberry: #6B7A8F;

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  color: white;
}

body {
  // background: #FF533D;
  background: #6BBAA7;
}

.modal-header {
  background-color: #F7C331;
}

.modal-body {
  background-color: $blueberry;
}

.explanation {
  font-family:  "Gill Sans Extrabold", Helvetica, sans-serif;
  font-size: 20px;
  color: #0F1626;
}

#shakeHere {
  color: #F7C331 !important;
  display: flex;
  font-size: 125%;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 2px;
}

.p {
  text-align: center;
}

.navbar {
  background-color: $blueberry;
}

.containera {
  background: white;
  border-radius: 5px;
  height: 100px;
  text-align: center;
  width: auto;
}

.containerc {
  background: white;
  border-radius: 5px;
  height: 100px;
  text-align: center;
  width: auto;
}

.footer {
  background: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
  width: auto;
}

#changePasswordBox {
  width: 100%;
  height: 30px;
  text-shadow: 5px 5px 5px blue;
  font-size: 150%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signUpBox {
  width: 100%;
  height: 70px;
  font-size: 115%;
  color: #ED4337;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#surveyBox {
  width: 100%;
  height: 70px;
  font-size: 115%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signInBox {
  width: 100%;
  height: 30px;
  font-size: 150%;
  color: #AA0114;
  background-color: $blueberry;
  display: flex;
  justify-content: center;
  align-items: center;
}

#needAccountBox {
  width: 100%;
  height: 30px;
  font-color: maroon;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#surveyDelete {
  background: white;
  border-radius: 5px;
  height: 90px;
  text-align: center;
  width: auto;
}

#appendQuestion {
  background: white;
  border-radius: 5px;
  height: 90px;
  text-align: center;
  width: auto;
}

#createSurveys {
  background: white;
  border-radius: 5px;
  height: 90px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
}

#seeYourSurveys {
  background: white;
  border-radius: 5px;
  height: 40px;
  text-align: center;
  width: auto;
}

#displayAllCurrentUsersSurveys {
  max-height: 500px;
  overflow-x: scroll;

}

#showCountofAnswers {
  max-height: 500px;
  overflow-x: scroll;

}


#content-main {
    margin-top: 25%;
}

#options {
  float: left;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 125%;
}
//


.imageImage {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
  height: 80px;
}

.deleteImageImage {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
  height: 80px;
}

.surveysContainer {
    max-width: 95%;  // or width instead of max-width
    max-height: 90%; // or height instead of max-height
    overflow: auto;
    overflow-x: scroll;
  }

.modal-fade {
  opacity: 0;
  &.in {opacity: .7;};
};

// Buttons

#outANDin {
  color: black;
}

#sign-out-main {
  text-color: white;
  background: #F7C331;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 5%;
  margin-top: 8px;
}

#sign-out-pwrd {
  text-color: white;
  background: #F7C331;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
  margin-right: 0;
}



#sign-out-modal-five {
  text-color: white;
  background: #F7C331;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
  margin-right: 0;
}

#sign-out-modal-six {
  text-color: white;
  background: #F7C331;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
  margin-right: 0;
}

#sign-out {
  text-color: white;
  text-shadow: 2px 2px white;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
}

#changePwrd {
  text-color: white;
  text-shadow: 2px 2px white;
  font-size: 75%;
  display: flex;
  justify-content: center;
  align-items: right;
  float: right;
  margin-top: 0;
}

#changePwrd-main {
  color: blue;
  font-size: 75%;
  display: flex;
  justify-content: center;
  align-items: right;
  float: right;
  margin-top: 0;
}

#changePwrd-modal-5 {
  text-color: white;
  text-shadow: 2px 2px white;
  font-size: 75%;
  display: flex;
  justify-content: center;
  align-items: right;
  float: right;
  margin-top: 0;
}

#changePwrd-modal-6 {
  text-color: white;
  text-shadow: 2px 2px white;
  font-size: 75%;
  display: flex;
  justify-content: center;
  align-items: right;
  float: right;
  margin-top: 0;
}

#createASurvey {
  width: 20%;
  text-color: white;
  background: #F7C331;
  justify-content: center;
  align-items: center;
  // margin-left: 0%;
  margin-right: 10%;
}

#createASurvey-modal-6 {
  width: 20%;
  text-color: white;
  background: #F7C331;
  float: left;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

#seeYourSurveysAndAnswers {
  width: 20%;
  text-color: white;
  background: #F7C331;
  justify-content: center;
  align-items: center;
  // margin-left: 15%;
  margin-right: 15%;
}

#viewYourSurveysAndAnswers {
  width: 20%;
  text-color: white;
  background: #F7C331;
  justify-content: center;
  align-items: center;
  // margin-left: 15%;
  margin-right: 15%;
}

#viewYourSurveys {
  width: 20%;
  text-color: white;
  background: #F7C331;
  float: left;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

#surveyOptions {
  text-color: white;
  background: #F7C331;
  // display: flex;
  justify-content:center;
  align-items: center;
  float: left;
  margin-top: 8px;
  margin-bottom: 2px;
  margin-left: 5%;
}

#createASurvey {
  text-color: white;
  background: #F7C331;
  // display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: 8px;
  margin-bottom: 2px;
  margin-left: 5%;
}

.btn-default {
  margin-right: auto;
  margin-left: auto;
}

.btn-primary {
  background: black;
  text-shadow: 2px 2px 5px white;
  height: 40px;
  margin-left: 45%;
  margin-right: 45%;
  width: 10%;
}

#viewAllSurveys {
  text-color: white;
  background: #F7C331;
  // display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 5%;
  margin-top: 8px;
  margin-bottom: 2px;
}

#close {
  text-color: gray;
  background: #F7C331;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
}

.btn-warning a:hover {
  background-color: tomato;
}

.btn-warning {
  background-color: cornflowerblue;
  display: inline-block;
  float: right;
  border-color: blue;
  height: 50px;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 2px;
  margin-left: 30%;
  margin-right: 30%;
}

.deleteThis {
  display: inline-block;
  float: right;
  height: 50px;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 30%;
  margin-right: 30%;
}

.modal-title {
  width: 50%;
  height: 30px;
  margin-left: 5%;
}

.img-main {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 35%;
  margin-right: 35%;
}

.img-container {
    background: white;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    position: relative;
    align-items: center;
    align-self: center;
  }

.img-container-info {
  width: 300px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container-info-one {
  width: 300px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container-info-two {
  width: 300px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-4 {
  float: left;
}

.modal-title {
  width: 50%;
}

.page-header {
  display: block;
  text-align:center;
  border-bottom: 0;
}

@media (max-width: 700px) {
  .img-main {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 700px) {
  .btn-primary {
    background: black;
    height: 40px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
  }
}

@media (max-width: 400px) {
  .footer {
    background: white;
    border-radius: 5px;
    margin-top: 0;
    width: auto;
    align-content: center;
    text-align: center;
  }
}
