$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    font-color: white;
}

#shakeHere {
  color: yellow !important;
  display: flex;
  font-size: 125%;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 2px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.pic {
  // border: 10px solid blue;
  float: left;
  height: 150px;
  width: 150px;
  margin: 20px;
  overflow: hidden;

  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
}

.p {
  text-align: center;
}

.h1 {
  text-align: center;
}

.containera {
  background: white;
  border-radius: 5px;
  height: 100px;
  text-align: center;
  width: auto;
}

.containerc {
  background: white;
  border-radius: 5px;
  height: 100px;
  text-align: center;
  width: auto;
}

.footer {
  background: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
  width: auto;
}

#changePasswordBox {
  width: 100%;
  height: 30px;
  text-shadow: 5px 5px 5px blue;
  font-size: 150%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signUpBox {
  width: 100%;
  height: 70px;
  text-shadow: 5px 5px 5px blue;
  font-size: 115%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signInBox {
  width: 100%;
  height: 30px;
  text-shadow: 5px 5px 5px blue;
  font-size: 150%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signInBoxTwo {
  width: 100%;
  height: 30px;
  text-shadow: 5px 5px 5px blue;
  font-size: 150%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#needAccountBox {
  width: 100%;
  height: 30px;
  font-color: maroon;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewAllImages {
  text-color: white;
  text-shadow: 2px 2px white;
  // display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 5%;
  margin-top: 8px;
  margin-bottom: 2px;
}

#createASurvey {
  width: 20%;
  text-color: white;
  text-shadow: 2px 2px white;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
}

#seeYourSurveysAndAnswers {
  width: 20%;
  text-color: white;
  text-shadow: 2px 2px white;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
}

#surveyOptions {
  text-color: white;
  text-shadow: 2px 2px white;
  // display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: 8px;
  margin-bottom: 2px;
}

#allImageView {
  background: white;
  border-radius: 5px;
  height: 100px;
  text-align: center;
  width: auto;
}

#surveyDelete {
  background: white;
  border-radius: 5px;
  height: 90px;
  text-align: center;
  width: auto;
}

#appendQuestion {
  background: white;
  border-radius: 5px;
  height: 90px;
  text-align: center;
  width: auto;
}

#createSurveys {
  background: white;
  border-radius: 5px;
  height: 90px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
}

#imageView {
  background: white;
  border-radius: 5px;
  height: 90px;
  text-align: center;
  width: auto;
}

#seeYourSurveys {
  background: white;
  border-radius: 5px;
  height: 90px;
  text-align: center;
  width: auto;
}

#sign-out {
  text-color: white;
  text-shadow: 2px 2px white;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
}

#changePwrd {
  text-color: white;
  text-shadow: 2px 2px white;
  font-size: 75%;
  display: flex;
  justify-content: center;
  align-items: right;
  float: right;
  margin-top: 0;
}

#changePwrd-main {
  color: blue;
  font-size: 75%;
  display: flex;
  justify-content: center;
  align-items: right;
  float: right;
  margin-top: 0;
}

#content-main {
    margin-top: 25%;
}

#options {
  float: left;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 125%;
}

#sign-out-main {
  text-color: white;
  text-shadow: 2px 2px white;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 5%;
  margin-top: 8px;
}

#sign-out-pwrd {
  text-color: white;
  text-shadow: 2px 2px white;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
  margin-right: 0;
}

#sign-out-modal-four {
  text-color: white;
  text-shadow: 2px 2px white;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
  margin-right: 0;
}

#sign-out-modal-five {
  text-color: white;
  text-shadow: 2px 2px white;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
  margin-right: 0;
}

#sign-out-modal-six {
  text-color: white;
  text-shadow: 2px 2px white;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
  margin-right: 0;
}

.surveysContainer {
    max-width: 90%;  // or width instead of max-width
    max-height: 175px; // or height instead of max-height
    overflow: auto;

  }

.imageId {
    display: flex;
    width: 315px;
    height: 50px;
    border-color: blue;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: auto;
    white-space: normal;
    // overflow-x: scroll;

}

.imageImage {
    display: inline-block;
    width: 150px;
    height: 150px;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
    overflow: hidden;

}

.imageImage:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.imageUrl {
    display: flex;
    width: 315px;
    border-color: blue;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: auto;
    white-space: normal;
    overflow-x: scroll;

}

.modal-fade {
  opacity: 0;
  &.in {opacity: .7;};
};

.btn-default {
  margin-right: auto;
  margin-left: auto;
}

.btn-primary {
  background: black;
  text-shadow: 2px 2px 5px white;
  height: 40px;
  margin-left: 45%;
  margin-right: 45%;
  width: 10%;
}

.btn-stats {
  background: cornflowerblue;
  height: 40px;
  float: left;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;

}

#close {
  text-color: gray;
  text-shadow: 2px 2px white;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 0;
}

.modal-title {
  width: 50%;
  height: 30px;
  margin-left: 5%;

}

.img-main {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 35%;
  margin-right: 35%;
}

.img-container {
    background: white;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    position: relative;
    align-items: center;
    align-self: center;
  }

.img-container-info {
  width: 300px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container-info-one {
  width: 300px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container-info-two {
  width: 300px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-4 {
  float: left;

}

.modal-title {
  width: 50%;

}

.page-header {
  display: flex;

}

.userIdMain {
  text-color: white;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: right;
  float: left;
  margin-top: 0;
}

@media (max-width: 700px) {
  .img-main {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 700px) {
  .btn-primary {
    background: black;
    height: 40px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
  }
}

@media (max-width: 400px) {
  .footer {
    background: white;
    border-radius: 5px;
    margin-top: 0;
    width: auto;
    align-content: center;
    text-align: center;
  }
}
